{{!-- <script defer src="/js/crypto.js"></script> --}}
<script defer src="/js/index.js"></script>

<main>
  {{!-- <p id="stock-price">---</p> --}}

  <h4>Cryptocurrency Prices by Market Cap</h4>
  <input class='js-search-input' onkeyup='searchTable()' type='text'>
  <img src="/img/search.png" alt="search" class="search-icon">
  <table class="table table-light" id="js-main-table">
    <thead>
      <tr>
        <th></th>
        <th onclick="sortTable(1)" class="cursor">Coin</th>
        <th></th>
        <th onclick="sortTable(3)" class="cursor">ID</th>
        <th onclick="sortTableNum(4)" class="cursor">Price</th>
        <th onclick="sortTableNum(5)" class="cursor">24h change</th>
        <th onclick="sortTableNum(6)" class="cursor">Market Cap</th>
        <th onclick="sortTableNum(7)" class="cursor">Market Cap rank</th>
      </tr>
    </thead>
    <tbody class='js-main-table-body'>
      {{#if coinList}}
      {{#each coinList}}
        <tr>
          <td><img src="{{this.image}}" class="coin-icon" alt="coin icon"></td>
          <td>{{this.name}}</td>
          <td>{{this.symbol}}</td>
          <td>{{this.id}}</td>
          <td>${{this.current_price}}</td>
          {{#if this.price_change_percentage_24h_growth}}
            <td class="green-text">{{this.price_change_percentage_24h}}%</td>
          {{else}}
            <td class="red-text">{{this.price_change_percentage_24h}}%</td>
          {{/if}}
          <td>${{this.market_cap}}</td>
          <td>{{this.market_cap_rank}}</td>
        </tr>
      {{/each}}
      {{/if}} 
    </tbody>
  </table>

</main>
